/* index.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
}

h1 {
  font-size: 3.2em;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: background-color 0.25s;
}
button:hover {
  background-color: #333;
}
